header {
  width: 100%;
  padding: 20px 0;
  background-color: aquamarine;
}
footer {
  padding: 20px 0;
  height: 100%;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  background-color: rgb(9, 102, 63);
}
img {
  border: 5px solid rgb(97, 228, 189);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10);
  margin: 8px;
  width: 120%;
  height: auto;
}
.presentacion {
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
.img-container {
  list-style: none;
  display: flex;
  justify-content: center;
}
.caracteres ul {
  padding: 10px;
}
.caracteres ul li {
  list-style-type: square;
}
